<html ng-app="demo">
  <head>
    <title>My AngularJS HW</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="./script.js"></script>
  </head>
  <body>
      <div ng-controller="ScopeController1">
            <h3>With $scope</h3>
            <p>Name: <input ng-model="MyService.name" /></p>
            <h3>Hello, {{ MyService.name }}</h3>
            <a ng-click="logThisAndScope()" style="cursor: pointer">Parent: Log this and scope</a>
            <div ng-controller="ScopeController2">
                <p>Name: <input ng-model="MyService.name" /></p>
                <h3>Hello, {{ MyService.name }}</h3>
                <a ng-click="logThisAndScope()" style="cursor: pointer">Child: Log this and scope</a>
            </div>
      </div>
      <div ng-controller="ThisController1 as test1" style="margin-top: 60px">
          <h3>With this</h3>
          <p>Name: <input ng-model="test1.MyService.name" /></p>
          <h3>Hello, {{ test1.MyService.name }}</h3>
          <a ng-click="test1.logThisAndScope()" style="cursor: pointer">Parent: Log this and scope</a>
          <div ng-controller="ThisController2 as test2">
              <p>Name: <input ng-model="test2.MyService.name" /></p>
              <h3>Hello, {{ test2.MyService.name }}</h3>
              <a ng-click="test2.logThisAndScope()" style="cursor: pointer">Parent: Log this and scope</a>
          </div>
      </div>
  </body>
</html>