/* body {
    font-family: sans-serif;
} */
  
.calc-wrapper {
  /* margin: 0 auto; */
  border: 1px solid grey;
  /* width: 500px; */
  margin-top: 20px;
  max-width: 500px !important;
  border-radius: 4px;
}

.display-wrapper {
  text-align: end;
  font-weight: bold;
  font-size: 25px;
  /* width: 89.3%; */
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 4px;
}

.display {
  padding: 0 5px;
}

/* .keyboard {
  width: 90%;
  margin: 20px auto;
  padding: 2px;
  border: 2px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
} */

/* .key-btn-wrapper {
  border: 2px solid grey;
  height: 50px;
} */

/* .key-btn, .action-btn, .result-btn, .clean-btn, .bracket-btn {
  padding: 15px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  height: 20px;
  cursor: pointer;
} */

.key-btn:hover, .action-btn:hover, .bracket-btn:hover {
  background-color: #FFB300;
}

.result-btn:hover {
  background-color: #6edf74;
}

.clean-btn:hover {
  background-color: #f74044;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.container {
  margin: 15px;
  padding: 15px;
}