* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    
}

.wrapper {
    margin: 0 auto;
}

header {
    background-color: #ff05c0a8;
    height: 100px;
    /* margin: 1vh; */
}

.right-bar {
    display: inline-block;
    background-color: #0762d862;
    height: 55vh;
    /* margin: 1vh; */
    min-width: 25%;
    margin-bottom: 100px;
}

.left-bar {
    display: inline-block;
    background-color: #0762d862;
    height: 55vh;
    /* margin: 1vh; */
    min-width: 25%;
    margin-bottom: 100px;
}

.major-content {
    display: inline-block;
    background-color: #eb0c8662;
    height: 55vh;
    /* margin: 1vh; */
    min-width: 50%;
    margin-bottom: 100px;
}

footer {
    background-color: #ff05c0a8;
    position: absolute;
    bottom: 0;
    height: 100px;
    /* margin: 1vh; */
    width: 100%;
}

main {
    font-size: 0;
}

h3 {
    text-align: center;
    color: white;
    display: block;
    font-size: large;
}

header h3, footer h3 {
    padding-top: 4vh;
}

main h3 {
    padding-top: 25vh;
}