* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    
}

.wrapper {
    margin: 0 auto;
    max-width: 700px;
}

header {
    background-color: #ff05c0a8;
    height: 100px;
    margin: 1vh;
}

.right-bar {
    float: left;
    background-color: #0762d862;
    height: 55vh;
    margin: 1vh;
    min-width: 25%;
}

.left-bar {
    float: right;
    background-color: #0762d862;
    height: 55vh;
    margin: 1vh;
    min-width: 25%;
}

.major-content {
    float: left;
    background-color: #eb0c8662;
    height: 55vh;
    margin: 1vh;
    min-width: 41.6%;
}

footer {
    background-color: #ff05c0a8;
    position: absolute;
    bottom: 0;
    height: 100px;
    min-width: 700px;
    margin: 1vh;
}

main {
    background-color: greenyellow;
}

h3 {
    text-align: center;
    color: white;
    display: block;
}

header h3, footer h3 {
    padding-top: 4vh;
}

main h3 {
    padding-top: 25vh;
}