* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    
}

.wrapper {
    margin: 0 auto;
}

header {
    background-color: #ff05c0a8;
    height: 100px;
    margin: 1vh;
}

.right-bar {
    background-color: #0762d862;
    height: 55vh;
    margin: 1vh;
    min-width: 26%;
}

.left-bar {
    background-color: #0762d862;
    height: 55vh;
    margin: 1vh;
    min-width: 26%;
}

.major-content {
    background-color: #eb0c8662;
    height: 55vh;
    margin: 1vh;
    min-width: 40%;
}

footer {
    background-color: #ff05c0a8;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    margin: 1vh;
}

main {
    display: flex;
}

h3 {
    text-align: center;
    color: white;
    display: block;
}

header h3, footer h3 {
    padding-top: 4vh;
}

main h3 {
    padding-top: 25vh;
}