* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    
}

.wrapper {
    margin: 0 auto;
}

header {
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    height: 100px;
    margin: 10px;
}

.right-bar {
    
}

.left-bar {
    
}

.bar {
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    height: 55vh;
    width: 60%;
}

.major-content {
    background-color: #fafafa;
    border-top: 1px solid #e6e6e6;
    border: 1px solid #e6e6e6;
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.signup-wpapper, .login-wpapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-section, .signup-question, .login-question {
    background-color: white;
    border: 1px solid #e6e6e6;;
    border-radius: 3px;
    width: 70%;
    margin: 0 auto;
}

.signup-question, .login-question {
    margin-top: 20px;
    height: 60px;
}

footer {
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.signup-block, .login-block {
    background-color: white;
    padding: 10%;
}

main {
    display: flex;
    margin: 10px;
}

h3, h4, p {
    text-align: center;
    color: #646464;
    display: block;
}

header h3, footer h3 {
    padding-top: 40px;
}

main h3 {
    padding-top: 30px;
}

.signup-form h4 {
    padding: 0 10% 10%;
}

.hide {
    display: none !important;
}

/* .error {
    border: 2px solid red;
} */

input {
    height: 26px;
    background-color: #fafafa;
    font-size: small;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-appearance: none;
    margin-bottom: 12px;
    padding-left: 10px;
    font-size: 12px;
    opacity: 0.8;
    width: -webkit-fill-available;
}

.modal-section a {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 3px;
    color: #fff;
    position: relative;
    width: -webkit-fill-available;
    height: 22px;
    text-align: center;
    padding-top: 4px;
}

a {
    cursor: pointer;
}

.signup-question, .login-question {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-question-btn, .login-question-btn {
    margin-left: 12px;
    color: #3897f0;
    -webkit-appearance: none;
    background-color: white;
    border: none;
    border-radius: 3px;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
}

.error-message {
    color: red;
    display:none;
}
.error input{
    border: 2px solid red;
}

/* .error .error-message-min,
.error .error-message-max,
.error .error-message-email,
.error .error-message-password,
.error .error-message-re-password {
    display:block;
} */

.error .display {
    display:block;
}

.error span {
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 12px;
    text-align: center;
}

.form-group {
    width: -webkit-fill-available;
}