/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

.welcome-msg {
    font-weight: bold;
    margin: 0 auto;
    color: #323232;
}

a {
    cursor: pointer;
    color: #323232;
    text-decoration: none;
}

a:hover {
    /* opacity: 0.8; */
    background: rgba(0,0,0,.04);
}

app-top-bar {
    width: 100%;
    height: 68px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
app-top-bar h1 {
    margin: 0;
}

.home-btn {
    display: flex !important;
    align-items: center;
    padding: 8px 16px;
}

.toolbar {
    margin-bottom: 10px;
}

app-product-list {
    padding-bottom: 20px;
}

.home-btn i.material-icons, .cart-btn i.material-icons {
    padding-right: 20px;
}

.home-btn .mat-button-wrapper, .cart-btn .mat-button-wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
}










/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    /* color: #616161; */
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
body {
    /* margin: 0; */
}
  
.container {
    display: flex;
    flex-direction: row;
}
  
router-outlet + *  {
    padding: 0 16px 20px;
}
  
  /* Text */
  
h1 {
    font-size: 32px;
}
  
h2 {
    font-size: 20px;
}
  
h1, h2 {
    font-weight: lighter;
}
  
p {
    font-size: 14px;
}
  
  /* Input */
  
input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
}
  
label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}
  
  /* Button */
.button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    border: none;
}
  
.button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
    background: rgba(0,0,0,.04);
}
  
.button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
    
}
  
  /* Fancy Button */
  
.fancy-button {
    background-color: white;
    color: #616161;
    border: 2px solid #616161;
    border-radius: 3px;
}

.fancy-button i.material-icons {
    color: #616161;
    padding-right: 4px;
}
  /* Checkout Cart, Shipping Prices */
  
.cart-item, .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
}


.border {
    border: 2px solid #616161;
    border-radius: 3px;
    max-width: 900px;
    min-height: 900px;
    margin: 0 auto;
}

.products-header {
    text-align: center;
  }
  
.products-wrapper {
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-wrapper {
    display: grid;
    padding: 15px;
    grid-template-columns: 3fr 2fr;
}

.mat-form-field {
    width: 90%;
}