.app-wrapper {
  min-width: 450px;
  height: auto;
  border: 2px solid grey;
  border-radius: 6px;
  max-width: 900px;
  margin: 0 auto;

  .app {
    background-color: #53c3288f;
    padding: 20px;

    canvas {
      display: block;
      border: 2px solid black;
      border-radius: 6px;
      margin: 0 auto;
    }

    .game-settings-wrapper {
      border-radius: 6px;
      margin-top: 30px;
      padding: 30px;
      border: 2px solid grey;
      display: flex;
      justify-content: space-evenly;
      
      .hide {
        display: none;
      }

      h2, h3 {
        font-family: monospace;
        margin-top: 0;
        text-align: center;
      }
  
      .player-1, .player-2, .player-3, .player-4 {
        border-radius: 6px;
        border: 2px solid grey;
        text-align: center;
        width: 23%;
        padding: 10px;

        h4, span, .score, .end-game {
          color: black;
          font-size: 25px;
          margin: 0;
        }

        .end-game {
          margin: 20px 0;
          font-weight: bold;
        }
      }

      .player-1 {
        background-color: #3fff00;
      }

      .player-2 {
        background-color: yellow;
      }

      .player-3 {
        background-color: #df92ff;
      }

      .player-4 {
        background-color: aqua;
      }
    }
  }  
}

/* Modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

  .modal-content {
    border-radius: 6px;
    padding: 30px;
    border: 4px solid black;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #92BE05;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;

    .logo-block {
      background-image: url(./Images/snake.webp);
      height: 500px;
      background-position: center;
      border-radius: 6px;
      min-width: 600px;
      background-repeat: no-repeat;
    }

    .text-wrapper {
      h2, h3, span {
        font-family: monospace;
        text-align: center;
      }

      .btn-wrapper {
        display: block;
        text-align: center;
    
        button {
          width: 40%;
          height: 40px;
          text-align: center;
          cursor: pointer;
          border-radius: 6px;
          background-color: black;
          border: 1px solid black;
          color: yellow;
          outline: none;
          font-size: 20px;
        }
    
        button:hover {
          background-color: yellow;
          border: 2px solid black;
          color: black;
        }
      }

      .bot-settings, .user-settings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: unset;
        grid-gap: 5px;

        button {
          width: 100%;
        }
      }

      .back-btn {
        height: 20px;
        cursor: pointer;
        border-radius: 6px;
        background-color: black;
        color: yellow;
        display: block;
        margin-top: 20px;
        padding: 8px 0;
        font-size: 20px;
        border: 2px solid black;
      }
      
      .back-btn:hover {
        background-color: yellow;
        border: 2px solid black;
        color: black;
      }
      
    }
  }
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.hide {
  display: none;
}


/* /////////// */
